@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500&family=Open+Sans:wght@300;400;500;700&display=swap');

* {
    font-family: "Open Sans", sans-serif;
}

.material-icons {
    background-color: transparent;
}


li, ul, a {
    text-decoration: none;
}

p {
    font-size: 0.9rem;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
}

/*-------------- header --------------  */
.header-main-container {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    height: 137px;
    z-index: 100;
}

.logo-header {
    width: 200px;
}

/*-------------- navbar --------------  */
nav {
    background-color: rgba(238, 215, 197, 0.9);
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 137px;
    z-index: 100;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    padding: 0 1em;
}

nav a:hover {
    color: #c97c5d;
}

.nav-links {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-cart {
    position: fixed;
    display: flex;
    right: -1px;
    margin-right: 1em;
}

.nav-cart button {
    background-color: transparent;
}

.cart-count-container {
    position: fixed;
    right: 0;
    top: 140px;
    background: #c97c5d;
    padding: 1px 3px;
    border-radius: 5px;
    margin-right: 1.4em;
}

.cart-count-number {
    font-size: .8rem;
}

.register {
    background: #c97c5d;
    padding: 12px 15px;
    border-radius: 5px;
    color: white;
}

.register:hover {
    background: rgba(0, 0, 0, 0.8);
}

/*-------------- search bar --------------  */
.search-bar-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.show-search {
    transform: translateY(0);
    visibility: visible;
}

.hide-search {
    visibility: hidden;
    transition: opacity 0.25s ease-in-out, visibility 0.25s,
        transform 0.25s ease-in-out;
}

.search-bar input {
    padding: 10px;
    margin-top: 2em;
    width: 500px;
    font-size: 30px;
    border-bottom: 1px solid white;
    color: #fff !important;
    background: transparent;
}

/*-------------- landing page --------------*/
.landing-main-container {
    top: 0;
    height: 100vh;
    width: 100%;
}

.landing-product-types {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.landing-inner-product-card {
    position: absolute;
    padding: 20px;
    z-index: 1;
}

.landing-inner-product-card h3 {
    color: white;
    font-weight: 400;
    font-size: 1.7rem;
}

.landing-inner-product-card button {
    padding: 10px 15px;
    margin-top: 0.5em;
    background: #c97c5d;
    color: black;
    border-radius: 5px;
    font-weight: 400;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
}

.landing-inner-product-card button:hover {
    background: #915944;
    color: white;
}

/*-------------- products --------------  */
.product-image {
    width: 320px;
    height: 210px;
    margin-bottom: 0.5em;
}

.single-product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 350px;
    margin: 1em;
    padding: 12px;
    background-color: white;
}

.single-product-main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    margin: 1em;
}

.single-product-price {
    font-weight: 600;
}

.all-products-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 220px;
}

.outerDivWrapper,
.outerDiv {
    height: 60px;
    margin: 0em;
    overflow: visible;
}

.scrollableContent {
    height: 100%;
    margin: 0em;
    overflow-y: auto;
}

.all-prods-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-------------- pagination --------------  */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 1em;
}

a.page-link {
    padding: 0.5rem 0.8rem;
    min-width: 0.8rem;
    text-align: center;
    font-weight: 500;
    border: 1px solid black;
    font-size: 0.7rem;
}

a.page-link.active {
    background: #c97c5d;
}

a.page-link:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(238, 215, 197);
}

/*-------------- forms --------------  */
.create-product-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-product-form,
.add-type-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: 1em;
    padding: 10px;
    border-radius: 2px;
}

.create-product-form input {
    padding: 10px;
    margin: 5px;
    border-bottom: 1px solid lightgrey;
    background-color: rgba(238, 215, 197, 0.5);
    color: black;
    font-weight: 600;
}

.create-product-form textarea {
    padding: 10px;
    margin: 5px;
    border-bottom: 1px solid lightgrey;
    background-color: rgba(238, 215, 197, 0.5);
    color: black;
    font-weight: 600;
}

.create-product-form button {
    padding: 10px 15px;
    margin: 5px;
    background: #c97c5d;
    color: black;
    border-radius: 5px;
    font-weight: 400;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
}

.create-product-form button:hover {
    background: #915944;
    color: white;
}

.add-type-form select {
    padding: 10px;
    margin: 5px;
    border-bottom: 1px solid lightgrey;
    background-color: rgba(238, 215, 197, 0.5);
    color: black;
    font-weight: 600;
}

.add-type-form input {
    padding: 10px;
    margin: 5px;
    border-bottom: 1px solid lightgrey;
    background-color: rgba(238, 215, 197, 0.5);
    color: black;
    font-weight: 600;
}

.add-type-form button {
    padding: 10px 15px;
    margin: 5px;
    background: #c97c5d;
    color: black;
    border-radius: 5px;
    font-weight: 400;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
}

.add-type-form button:hover {
    background: #915944;
    color: white;
}

/*-------------- cart --------------  */
.cart-image {
    width: 220px;
    height: 150px;
    margin-bottom: 0.5em;
}

.single-product-link {
    color: black;
}

.single-product-link:hover {
    color: #915944;
}

.checkout-cart {
    padding: 10px 20px;
    margin: 10px;
    background: black;
    color: rgb(238, 215, 197);
    border-radius: 5px;
    font-weight: 400;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    width: 200px;
}

.checkout-cart:hover {
    background: #c97c5d;
}

.checkout-container {
    /* background: rgba(238, 215, 197, 0.5); */
    border-top: 1px solid gray;
    width: 100%;
}

/*-------------- buttons --------------  */
.edit-button {
    background-color: transparent;

}

.get-started {
    padding: 10px 15px;
    background: black;
    width: 200px;
    color: rgb(238, 215, 197);
    border-radius: 5px;
    font-weight: 400;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
}

.add-to-cart {
    padding: 10px 15px;
    margin: 5px;
    background: black;
    color: rgb(238, 215, 197);
    border-radius: 5px;
    font-weight: 400;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
}

.add-to-cart:hover, .get-started:hover {
    background: #c97c5d;
    color: white;
}

.hamburger-icon {
    display: none;
}

.plus-minus {
    background: transparent;
    font-weight: 500;
    font-size: .8rem;
    padding: 2px;
    border-radius: 5px;
    background-color: rgba(238, 215, 197, 0.9);
    margin: 5px;
}

.plus-minus:hover {
    color: #915944;
}

/*-------------- media queries --------------  */
/* phone - portrait */
@media only screen and (max-width: 600px) {
    .single-product-main-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    .hamburger-icon {
        display: unset;
        position: fixed;
    }

    .hamburger {
        position: fixed;
        z-index: -1;

    }

    nav {
        align-items: flex-start;
        justify-content: space-between;
        height: 60px;
        width: 100%;
    }

    .nav-links.show {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 50%;
        background: rgba(238, 215, 197, 0.9);
    }

    .link.show {
        margin-top: 20px;
    }

    .link.show:first-child {
        margin-top: 45px;
    }

    .link.show:last-child {
        margin-bottom: 20px;
    }

    .nav-links.hide {
        display: none;
    }

    .link.hide {
        display: none;
    }

    .menu-container {
        margin-top: 20px;
    }

    .search-bar input {
        width: 100%;
    }

    .create-product-form,
    .add-type-form {
        width: 300px;
    }
}